{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-family: "Arial Black";
}

.html {
    font-size: 62.5%;
    overflow-x: hidden;|

}

.img {
    max-width: 100%;
}

.body {
    width: 100%;
    min-height: 95vh;
    background: #651818;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contacts {
    padding: 2rem 9%;

}

.contacts .header {
    text-align: center;
    margin-bottom: 2rem;
    color: red;
    font-size: cal 25px + 70 - 25 * 100vw - 300px / 1600 - 300;

}

.contacts .heading span {
    color: #9c2424;
}
.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .img {
    flex: 1 1 40rem;

}

.contact .row form {
    flex: 1 1 40rem;
}
.contact .row  form .box {
    width: 100%;
    margin: 1rem 0rem 2rem;
    border-radius: 0.5rem;
    padding: 0.8rem;

}

.contact .row form span {
}

a {
    display: block;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}

:link:hover {
    outline: dotted red;
    background-color: red;
    display: inline-block;


}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.element {
    animation: slideIn 1s ease-in-out; /* Пример анимации */
}

html {
    scroll-behavior: smooth;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}

.flex-item {
    background-color: #abc;
    padding: 20px;
    margin: 10px;
    text-align: center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.img {
    max-width: 100%;
    height: auto;
}





















